In [2]:
import sys
sys.path.append("../scripts")
from loading import audio_prep
import pandas as pd

In [3]:
DATASET_PATH= "../data/train/wav"
TEXT_PATH="../data/train/text"

#call audio_prep class to load  data and 
audio = audio_prep()
labels = audio.load_data(DATASET_PATH)
df = audio.load_text(TEXT_PATH)

Preprocessing audio data...
Loading the audio files...
Loading the transcriptions...
Done!

In [4]:
df['audio']=labels
df.head()

,text,audio
0,rais wa tanzania jakaya mrisho kikwete,../data/train/wav\SWH-05-20101106/SWH-05-20101...
1,yanayo andaliwa nami pendo pondo idhaa ya kisw...,../data/train/wav\SWH-05-20101106/SWH-05-20101...
2,inayokutangazia moja kwa moja kutoka jijini da...,../data/train/wav\SWH-05-20101106/SWH-05-20101...
3,juma hili bara la afrika limeshuhudia raia wa ...,../data/train/wav\SWH-05-20101106/SWH-05-20101...
4,wakipiga kura ya maoni ilikufanya mabadiliko ya,../data/train/wav\SWH-05-20101106/SWH-05-20101...

In [5]:
df.shape

(10180, 2)

In [6]:
meta=df[:5090]
meta.tail()

,text,audio
5085,mahakama ya kikatiba nchini ufaransa imepitish...,../data/train/wav\SWH-15-20101109/SWH-15-20101...
5086,pamoja na mambo mengine mabandiliko hayo ni pa...,../data/train/wav\SWH-15-20101109/SWH-15-20101...
5087,kwa umri wa kustaafu kutoka miaka sitini mpaka...,../data/train/wav\SWH-15-20101109/SWH-15-20101...
5088,na umri wa kupewa kiinua mgongo kutoka miaka s...,../data/train/wav\SWH-15-20101109/SWH-15-20101...
5089,amesema serikali ya marekani itaendelea kuimar...,../data/train/wav\SWH-15-20101109/SWH-15-20101...

In [7]:
df.to_csv("../data/metadata.csv",index=False)
meta.to_csv("../data/metadata2.csv",index=False)

In [8]:
test_path = "../data/test/wav5"
test_text_path = "../data/test/text"
test_audio = audio.load_data(test_path)

Loading the audio files...

In [9]:
test_data = pd.read_fwf(test_text_path,header=None)
test_data.head()

,0,1,2,3,4
0,16k-emission_swahili_05h30_-_06h00_tu_20101124...,ya redio france internanational mimi ni zuhra ...,NaN,NaN,NaN
1,16k-emission_swahili_05h30_-_06h00_tu_20101124...,marekani yasema iko tayari kuisaidia korea kus...,NaN,NaN,NaN
2,16k-emission_swahili_05h30_-_06h00_tu_20101124...,na tume ya uchaguzi nchini nigeria yataja tare...,NaN,NaN,NaN
3,16k-emission_swahili_05h30_-_06h00_tu_20101124...,karibu katika awamu ya pili ya matangazo ya as...,NaN,NaN,NaN
4,16k-emission_swahili_05h30_-_06h00_tu_20101124...,wachimbaji wote ishirini na kenda ambao waliku...,NaN,NaN,NaN

In [10]:
test_data.shape

(1991, 5)

In [11]:
test_data.isnull().sum()

0       0
1       0
2    1958
3    1971
4    1977
dtype: int64

In [12]:
test_data['text'] = test_data[test_data.columns[1:]].apply(
    lambda x: ''.join(x.dropna().astype(str)),
    axis = 1
)
cols = [1,2,3,4]
test_data.drop(test_data.columns[cols],axis=1,inplace=True)
test_data.rename(columns={0:'file'},inplace=True)
test_data.head()

,file,text
0,16k-emission_swahili_05h30_-_06h00_tu_20101124...,ya redio france internanational mimi ni zuhra ...
1,16k-emission_swahili_05h30_-_06h00_tu_20101124...,marekani yasema iko tayari kuisaidia korea kus...
2,16k-emission_swahili_05h30_-_06h00_tu_20101124...,na tume ya uchaguzi nchini nigeria yataja tare...
3,16k-emission_swahili_05h30_-_06h00_tu_20101124...,karibu katika awamu ya pili ya matangazo ya as...
4,16k-emission_swahili_05h30_-_06h00_tu_20101124...,wachimbaji wote ishirini na kenda ambao waliku...

In [13]:
len(test_audio)

3982

In [14]:
import os
files = []
for i, (dirpath, dirnames, filenames) in enumerate(os.walk(test_path)):
    for f in filenames:
        if f.endswith('.wav')==True:
            files.append(f)

In [15]:
file = [x.strip('._') for x in files]
file = [x.strip('.wav') for x in file]
data = pd.DataFrame()
data['file'] = file
data['audio'] = test_audio
data.head()

,file,audio
0,16k-emission_swahili_05h30_-_06h00_tu_20101124...,../data/test/wav5\SWH-05-20101124/._16k-emissi...
1,16k-emission_swahili_05h30_-_06h00_tu_20101124...,../data/test/wav5\SWH-05-20101124/._16k-emissi...
2,16k-emission_swahili_05h30_-_06h00_tu_20101124...,../data/test/wav5\SWH-05-20101124/._16k-emissi...
3,16k-emission_swahili_05h30_-_06h00_tu_20101124...,../data/test/wav5\SWH-05-20101124/._16k-emissi...
4,16k-emission_swahili_05h30_-_06h00_tu_20101124...,../data/test/wav5\SWH-05-20101124/._16k-emissi...

In [16]:
test = pd.merge(test_data,data,on='file',how='inner')
test.drop(['file'],axis=1,inplace=True)
test.head()

,text,audio
0,ya redio france internanational mimi ni zuhra ...,../data/test/wav5\SWH-05-20101124/._16k-emissi...
1,ya redio france internanational mimi ni zuhra ...,../data/test/wav5\SWH-05-20101124/16k-emission...
2,marekani yasema iko tayari kuisaidia korea kus...,../data/test/wav5\SWH-05-20101124/._16k-emissi...
3,marekani yasema iko tayari kuisaidia korea kus...,../data/test/wav5\SWH-05-20101124/16k-emission...
4,na tume ya uchaguzi nchini nigeria yataja tare...,../data/test/wav5\SWH-05-20101124/._16k-emissi...

In [18]:
test.isnull().sum()

text     0
audio    0
dtype: int64

In [17]:
test.to_csv("../data/test.csv")